body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $basic-color-text;
}

img {
  width: 100%;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
