@mixin font-face($font-family, $font-src) {
  @font-face {
    font-family: $font-family;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: $font-src;
  }
}

@mixin pseudo-block($width, $height) {
  position: absolute;
  width: $width;
  height: $height;
  content: "";
}

@mixin pseudo-decor($pseudo-width, $pseudo-height, $pseudo-url) {
  position: absolute;
  width: $pseudo-width;
  height: $pseudo-height;
  background-image: $pseudo-url;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

@mixin center-xy {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-y {
  top: 50%;
  transform: translateY(-50%);
}
