/* responsive */
$tablet-width: 768px;
$desktop-width: 1440px;

/* colors */
$basic-color-text: #444444;
$black: #000000;
$white: #ffffff;
$accent-green: #68b738;
$interaction-green: #5eaa2f;
$accent-grey: #666666;
$basic-grey: #f2f2f2;
$light-grey: #eaeaea;
$border-grey: #cdcdcd;
$divider-grey: #d9d9d9;
$danger-color: #ff8282;
