.catalog__wrapper {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    padding-top: 65px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: auto;
    padding: 0;
    padding-top: 74px;
  }
}

.catalog__title {
  margin: 0;
  margin-left: 20px;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  margin: 0;
  margin-top: 41px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    gap: 141px 60px;
    grid-template-columns: 1fr 1fr;
    margin-top: 165px;
  }

  @media (min-width: $desktop-width) {
    gap: 144px 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.catalog__item {
  padding: 20px;
  padding-top: 19px;
  padding-bottom: 25px;
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    background-color: $basic-grey;
    border-top: none;
  }
}

.catalog__item--show-more {
  position: relative;
  border-bottom: 1px solid #ebebeb;

  &::before,
  &::after {
    @include pseudo-block(30px, 2px);
    top: 40px;
    background-color: #d3d3d3;

    @media (min-width: $tablet-width) {
      width: 60px;
      top: 80px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    background-color: $white;
    border: 2px solid $basic-grey;
  }
}
