.field {
  padding: 14px 15px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-color-text;
  border: none;
  outline: 1px solid #e7e7e7;
  outline-offset: -1px;

  &::placeholder {
    color: $basic-color-text;
  }

  &:hover {
    outline-color: $border-grey;
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid $basic-color-text;
    outline-offset: -2px;
  }

  &.field--error {
    outline-width: 2px;
    outline-color: $danger-color;
  }

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
  }
}
