.programm {
  font-family: $secondary-font;
}

.programm__title {
  font-size: 36px;
  line-height: 36px;
  color: $black;
}

.programm__description {
  text-transform: uppercase;
  color: $black;
}

.programm__note {
  font-family: $primary-font;
  line-height: 16px;
  text-align: center;
  color: $black;
}
