.subscription-form__field {
  padding: 13px;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #cdcdcd;
}

.subscription-form__button {
  padding: 14px 26px;
  font-size: 20px;
  line-height: 26px;
}
